* {
    padding: 0;
    margin: 0;
    font: inherit;
}

:root {
    --main-color: #E2E2E2;
    --second-color: #232323;
    --accent-color: #FF3434;
    --tile-length: 150px;
}

body {
    background-color: var(--main-color);
    color: var(--second-color);
}

.main {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--second-color);
    color: var(--main-color);
}

.play-area {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 2rem;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.game-board {
    display: grid;
    width: calc(3 * var(--tile-length));
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    background-color: var(--second-color);
}

.tile {
    width: var(--tile-length);
    height: var(--tile-length);
    background-color: var(--main-color);
}