* {
    padding: 0;
    margin: 0;
    font: inherit;
}

:root {
    --main-color: #E2E2E2;
    --second-color: #232323;
    --accent-color: #FF3434;
}

body {
    background-color: var(--main-color);
    color: var(--second-color);
}

.main {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--second-color);
    color: var(--main-color);
}

.game-board {
    display: grid;
    width: calc(3 * 100px);
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    background-color: var(--second-color);
}

.tile {
    width: 100px;
    height: 100px;
    background-color: var(--main-color);
}